<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>{{'permission_information'|translate}}</h4>
        </div>
        <div class="panel-body">
            <div class="form-horizontal col-md-11">
                <div class="form-group">
                    <label class="col-md-5" style="text-align: right">{{'user_permission'|translate}}:</label>
                    <div class="col-md-7">
                        <span>{{permiArray.name}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5" style="text-align: right">{{'permission_description'|translate}}:</label>
                    <div class="col-md-7">
                        <input style="height: 35px; width: 277px;" type="text" placeholder="{{'please_enter_permission_description'|translate}}" ng-model="premiDescription" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5" style="text-align: right">{{'create_time'|translate}}:</label>
                    <div class="col-md-7">
                        <span>{{permiArray.created_on}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5" style="text-align: right">{{'update_time'|translate}}:</label>
                    <div class="col-md-7">
                        <span>{{permiArray.updated_on}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8" align="right">
                        <a class="btn btn-sm btn-success" ng-click="cancel()">{{'cancel'|translate}}</a>
                        <button type="submit" id="submitId" class="btn btn-sm btn-success " ng-click="updatePremission(permiArray.system_flag)">&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>